@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: raleway, sans-serif;
  /* display: flex; */
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  /* width: 900px; */
  font-size: 12px;
  text-align: left;
}

.contact-btn {
  background-color: #00000022;
  color: #000000;
  font-size: 10px;
  border: none;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: font-weight 0.2s;
}

.contact-btn:hover {
  font-weight: bold;
}

/* Experience Section on Homepage */

.glasses-image {
  width: 20px;
  height: 20px;
}

.experience-container {
  /* padding-left: 40px; */
  margin-left: 60px;

  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 25px;
}

.employment-box,
.design-box {
  padding-top: 8px;
  align-self: start;
  font-size: 8px;
  height: 60px;
  width: 90px;
  border: 0.5px solid #000;
  border-radius: 10px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.programming-box {
  padding-top: 8px;
  align-self: start;
  font-size: 8px;
  height: 60px;
  width: 90px;
  background-color: #00000022;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.experience-bottom {
  margin-left: 195px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 45px;
  background-color: #00000022;
  border-radius: 10px;
  text-align: center;
}

.exp-box,
.dev-box,
.dig-box {
  font-size: 8px;
  padding-top: 10px;
  align-self: start;
  font-size: 8px;
  height: 60px;
  width: 90px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

/* About Me Section on Home Page*/

.aboutme-container {
  margin-left: 150px;
  /* background-color: green; */
  width: 500px;
  margin-top: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: left;
}

.aboutme h2 {
  margin-top: 20px;
}

.aboutme-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.357);
}

.aboutme-link:hover {
  font-weight: bold;
}

.projects-container {
  margin-left: 80px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-group {
  display: flex;
}

.project-box {
  font-size: 8px;
  height: 60px;
  width: 90px;
  border-radius: 10px;
  background: rgba(233, 191, 52, 0.781);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;

  /* hover */
  transition: background-color 0.3s, color 0.3s;
}

.project-box:hover {
  background-color: #333;
}

.project-box:hover p {
  color: white;
}

.react-box {
  font-size: 8px;
  height: 60px;
  width: 90px;
  border: 0.5px solid #000;
  border-radius: 10px;
  background: white; /* Add background color */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;

  /* hover */
  transition: background-color 0.3s;
}

.react-box:hover p {
  color: white;
}

.react-box:hover {
  background-color: #333;
}

.react-box p {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.project-box p {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 0;
  
}


/*/ Project1 Page /*/

.home-link {
  width: 35px;
  background-color: #00000022;
  color: #000000;
  font-size: 10px;
  border: none;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: font-weight 0.2s;
  text-decoration: none;
}

.home-link:hover {
  font-weight: bold;
}

.project1-welcome-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 50%;
  width: 900px;
  font-size: 12px;
  text-align: left;
}

.page-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-left: 60%;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 1000px;
}

.where-page {
  display: flex;

  flex-direction: column;
  height: 1000px;
  width: 1000px;
}

.project1-image {
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-top: 40px;
  width: 300px;
  height: 300px;
}

.foot-container-proj1 {
  margin-top: 60px;
  margin-left: 180px;
  margin-bottom: 20px;
}

/* .foot-container {
  margin-top: 80px;
  margin-left: 30px;
  margin-bottom: 20px;
} */

/*/ About Me Page /*/

.amp-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 50%;
  width: 900px;
  font-size: 12px;
  text-align: left;
}

.aboutme-para {
  width: 350px;
  margin-top: 20px;
  justify-content: center;
}

.aboutmepage-image {
  width: 350px;
  height: auto;
  margin-top: 40px;
}

.foot-container2 {
  margin-top: 60px;
  margin-left: 115px;
  margin-bottom: 20px;
}

/* Project 2 Page */

.project2-welcome-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 40%;
  width: 900px;
  font-size: 12px;
  text-align: left;
}

.aboutme-para {
  width: 350px;
  margin-top: 20px;
  justify-content: left;
}

.p2-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project2-image {
  margin-top: 40px;
  width: 400px;
  height: 250px;

  margin-right: 150px;
}

.proj2-foot-container {
  margin-top: 60px;
  margin-right: 140px;
  margin-bottom: 20px;
  padding-left: 140px;
}

/* Figma Page */
.figma-welcome-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 40%;
  width: 900px;
  font-size: 12px;
  text-align: left;
}

.figma-para {
  width: 350px;
  margin-top: 20px;
  justify-content: center;
}

.figma-page {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: left;
}

.figma-image1 {
  margin-top: 20px;
  margin-right: 175px;
  width: 300px;
  height: 600px;
  border-radius: 10px;
}

.figma-image2 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.figma-image3 {
  width: 200px;
  height: 400px;
  margin-left: 45px;
  border-radius: 10px;
}

.figma-image4 {
  margin-top: 20px;
  width: 250px;
  height: 325px;
  margin-left: 17px;

  
}

.figma-image {
  width: 300px;
  width: 300px;
}

.figma-foot-container {
  margin-top: 60px;
  /* margin-right: 0px; */
  margin-bottom: 20px;
}


/* Project 4 Page */

.project4-image {
  margin-top: 40px;
  width: 350px;
  height: 250px;
  margin-right: 150px;
  border-radius: 10px;
}

.project4-title {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 40%;
  width: 900px;
  font-size: 12px;
  text-align: left;
}

.p4-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project2-image {
  margin-top: 40px;
  width: 400px;
  height: 250px;

  margin-right: 150px;
}

.proj4-foot-container {
  margin-top: 60px;
  margin-right: 120px;
  margin-bottom: 20px;
  padding-left: 120px;
}

/* Github Link */
.MG-github {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.MG-github:hover {
  font-weight: 700;
}

/* Contact Page */

.contact-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-left: 70px;
}
